<h1>Listing employees</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Job title</th>
    <th>Country flag</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employees.each do |employee| %>
  <tr>
    <td><%= employee.name %></td>
    <td><%= employee.job_title %></td>
    <td><%= employee.country_flag %></td>
    <td><%= employee.image %></td>
    <td><%= link_to 'Show', employee %></td>
    <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
    <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Employee', new_employee_path %>
