<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @employee.name %>
</p>

<p>
  <b>Job title:</b>
  <%= @employee.job_title %>
</p>

<p>
  <b>Country flag:</b>
  <%= @employee.country_flag %>
</p>

<p>
  <b>Image:</b>
  <%= @employee.image %>
</p>


<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
